<div class="container">
    <div><h4 class="text-center">View Covid Centers<br>
            <a routerLink="/addcovidcenterdepartment" class="btn btn-primary m-3 ">Add Department</a>
        </h4> </div>
    <div *ngIf="response"> <h4 class="alert alert-success">{{response}}</h4>  </div>
    <div *ngIf="reserr"> <h4 class="alert alert-danger">{{reserr}}</h4>  </div>
    <table class="table table-hover table-striped">
        <thead>
            <th>Sr no.</th>
            <th>Department</th>
            <th>CovCenter</th>
            <th>UPDATE</th>
        </thead>
        <tbody>
            <tr *ngFor="let covcendept of covcendeptlist; let i=index">
                <td>{{i+1}}</td> 
                <td>{{covcendept.covcendeptname}}</td>
                <td>{{covcendept.covcenter.covcennum}}</td>
                <td><button class="btn btn-success" (click)="getCovCenterDepartmentById(covcendept.covcendeptid)">UPDATE</button></td>
            </tr>
        </tbody>
    </table> 
</div>