<div class="container">
    <h4 class="text-center">{{component_name}}</h4>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="covcenter">Covid Center</label>
            <select class="form-control"  name="covcenter" [(ngModel)]="covcendepartment.covcenter">
                <option selected disabled>Please select Center name</option>
                <option *ngFor="let covcenter of covcenlist" [ngValue] ="covcenter" >{{covcenter.covcennum}}</option>
            </select>
            </div>
 
        <div class="form-group">
            <label for="covcendeptname">Department Name</label>
            <input type="text" name="covcendeptname" id="covcendeptname" class="form-control" [(ngModel)]="covcendepartment.covcendeptname" placeholder="Enter Deprtment Name" required="" >
        </div>
    </form>
</div>